<h1><%= @user.username %></h1>

<div class="inner-box">
	<%  if signed_in? && @user != current_user %>
	<div class="secret-entry">
		<%#= link_to "Tell a secret", new_user_secret_path(@user, @secret)  %>
		<%= render partial: "secrets/form", locals: {:author_id => current_user.id, :recipient_id => @user.id} %>
	</div>
	<% end %>
	<% if @user == current_user %>
		<div class="secret-list" id="recieved">
			<h3>Recieved Secrets</h3>
			<% @user.recieved_secrets.each do |secret| %>
			<div class="secret">
				<p class="recipient-name">
					<% author = secret.author %>
					<%= link_to author.username, user_url(author.id) if author %>
				</p>
			
				<p><%= secret.title %></p>
			</div>
			<% end %>
		</div>

		<div class="secret-list" id="authored">
			<h3>Authored Secrets</h3>
			<% @user.authored_secrets.each do |secret| %>
			<div class="secret">
				<p class="recipient-name">
					<% recipient = secret.recipient %>
					<%= link_to recipient.username, user_url(recipient.id) if recipient %>
				</p>
			
				<p><%= secret.title %></p>
			</div>
			<% end %>
		</div>
	<% end %>
</div>