<h1><%= @user.username %></h1>

<div class="inner-box">
	<%  if signed_in? && @user != current_user %>
	<div class="secret-entry">
		<%= render partial: "secrets/form", locals: {:author_id => current_user.id, :recipient_id => @user.id} %>
	</div>
	<% end %>
	<% if @user == current_user %>
		<div class="secrets" id="recieved">
			<h3>Recieved Secrets</h3>
			<ul id="recieved-secrets">
			<% @user.recieved_secrets.order('created_at DESC').includes(:author).each do |secret| %>
			<%= render partial: "secrets/recieved", locals: {:secret => secret} %>
			<% end %>
		</ul>
		</div>

		<div class="secrets" id="authored">
			<h3>Authored Secrets</h3>
			<% @user.authored_secrets.includes(:recipient).each do |secret| %>
			<div class="secret">
				<p class="recipient-name">
					<% recipient = secret.recipient %>
					<%= link_to recipient.username, user_url(recipient.id) if recipient %>
				</p>
			
				<p><%= secret.title %></p>
			</div>
			<% end %>
		</div>
	<% end %>
</div>