<h2 class="sub-form">Tell a secret</h2>
<%= javascript_include_tag "secret-bundle" %>

<div class="form-fields inner-box" id="secrets-form">
	<%= form_for [@user, @secret], data: {}, :remote => true do |f| %>
	<p class="form-input"><%= f.label :title %>
	<%= f.text_field :title %></p>

	<p class="form-button"><%= f.submit "Submit" %></p>
	<% end %>
</div>